*{
    box-sizing: border-box;
}
body{
    margin:0;
}
​
.header-top{
    background: #ff6d00;
    height: 76px;
}
.container{
    width: 1170px;
    margin-left:auto;
    margin-right: auto;
}
.container:after{
    clear: both;
    display: table;
    content: " ";
}
​
.header-large{
    background: #ec6806;
}
.header-large ul{
    margin: 0;
    text-transform: uppercase;
}
.header-large ul li{
    float: left;
    padding: 0 10px;
    list-style: none;
}
.header-large ul li.active{
    background: #d76816;
}
.header-large ul li a{
    text-decoration: none;
    color: #fff;
}
.header-large ul li img{
    width: 100px;
}
